﻿<div>
    <h2 style="text-align: center">SÁCH BÁN NHIỀU</h2>
    <div class="Con-book">
        <div class="book-info">
            <img src="~/Images/Sach/TH004.jpg" />
            <div>
                <p style="font-size: 25px;"> Tên sản phẩm </p>
                <p>
                    Mô tả chi tiết sản phẩm, Mô tả chi tiết sản phẩm, Mô tả chi tiết sản phẩm,
                    Mô tả chi tiết sản phẩm, Mô tả chi tiết sản phẩm, Mô tả chi tiết sản phẩm,
                    Mô tả chi tiết sản phẩm, Mô tả chi tiết sản phẩm, Mô tả chi tiết sản phẩm
                    Mô tả chi tiết sản phẩm
                </p>
            </div>
        </div>
        <div class="book-info">
            <img src="~/Images/Sach/KT0007.jpg" />
            <div>
                <p style="font-size: 25px;"> Tên sản phẩm </p>
                <p>
                    Mô tả chi tiết sản phẩm, Mô tả chi tiết sản phẩm, Mô tả chi tiết sản phẩm,
                    Mô tả chi tiết sản phẩm, Mô tả chi tiết sản phẩm, Mô tả chi tiết sản phẩm,
                    Mô tả chi tiết sản phẩm, Mô tả chi tiết sản phẩm, Mô tả chi tiết sản phẩm
                    Mô tả chi tiết sản phẩm
                </p>
            </div>
        </div>
        <div class="book-info">
            <img src="~/Images/Sach/TH005.jpg" />
            <div>
                <p style="font-size: 25px;"> Tên sản phẩm </p>
                <p>
                    Mô tả chi tiết sản phẩm, Mô tả chi tiết sản phẩm, Mô tả chi tiết sản phẩm,
                    Mô tả chi tiết sản phẩm, Mô tả chi tiết sản phẩm, Mô tả chi tiết sản phẩm,
                    Mô tả chi tiết sản phẩm, Mô tả chi tiết sản phẩm, Mô tả chi tiết sản phẩm
                    Mô tả chi tiết sản phẩm
                </p>
            </div>
        </div>
        <div class="book-info">
            <img src="~/Images/Sach/KT0009.jpg" />
            <div>
                <p style="font-size: 25px;"> Tên sản phẩm </p>
                <p>
                    Mô tả chi tiết sản phẩm, Mô tả chi tiết sản phẩm, Mô tả chi tiết sản phẩm,
                    Mô tả chi tiết sản phẩm, Mô tả chi tiết sản phẩm, Mô tả chi tiết sản phẩm,
                    Mô tả chi tiết sản phẩm, Mô tả chi tiết sản phẩm, Mô tả chi tiết sản phẩm
                    Mô tả chi tiết sản phẩm
                </p>
            </div>
        </div>
        <div class="book-info">
            <img src="~/Images/Sach/TH006.jpg" />
            <div>
                <p style="font-size: 25px;"> Tên sản phẩm </p>
                <p>
                    Mô tả chi tiết sản phẩm, Mô tả chi tiết sản phẩm, Mô tả chi tiết sản phẩm,
                    Mô tả chi tiết sản phẩm, Mô tả chi tiết sản phẩm, Mô tả chi tiết sản phẩm,
                    Mô tả chi tiết sản phẩm, Mô tả chi tiết sản phẩm, Mô tả chi tiết sản phẩm
                    Mô tả chi tiết sản phẩm
                </p>
            </div>
        </div>
        <div class="book-info">
            <img src="~/Images/Sach/THCB.jpg" />
            <div>
                <p style="font-size: 25px;"> Tên sản phẩm </p>
                <p>
                    Mô tả chi tiết sản phẩm, Mô tả chi tiết sản phẩm, Mô tả chi tiết sản phẩm,
                    Mô tả chi tiết sản phẩm, Mô tả chi tiết sản phẩm, Mô tả chi tiết sản phẩm,
                    Mô tả chi tiết sản phẩm, Mô tả chi tiết sản phẩm, Mô tả chi tiết sản phẩm
                    Mô tả chi tiết sản phẩm
                </p>
            </div>
        </div>
    </div>
</div>
